<ng-container *ngTemplateOutlet="grid; context:{ rows: rows | async, keys: columns | async }"></ng-container>
<ng-container *ngTemplateOutlet="pagination; context:{ items: data | async }"></ng-container>

<ng-template #grid let-keys="keys" let-rows="rows">
	<form [ngStyle]="{ 'min-height': (itemsPerPage + (showHeader || selectMode !== 'NONE' ? 1 : 0)) * 25 + 'px' }"
		[formGroup]="rowSelectForm">
		<table formArrayName="checkboxes">
			<tr *ngIf="showHeader || selectMode !== 'NONE'">
				<th *ngIf="selectMode !== 'NONE'" class="narrow">
					<input *ngIf="selectMode === 'MULTI' && checkboxesReady" type="checkbox" (change)="selectAll($event)" [ngModel]="allSelected()" [ngModelOptions]="{standalone: true}">
					<input *ngIf="selectMode === 'SINGLE' && checkboxesReady" type="radio" [formControlName]="0" [value]="undefined">
        </th>
				<th *ngFor="let key of keys; index as i" [ngClass]="{ 'narrow': showNumber && i === 0 }">
					<span *ngIf="showHeader">{{ key }}</span>
				</th>
			</tr>
			<tr *ngFor="let row of rows; index as i">
				<td *ngIf="selectMode !== 'NONE'" class="narrow">
					<input *ngIf="selectMode === 'MULTI'" [id]="i" type="checkbox"  [formControlName]="(currentPage - 1) * pageSize + i">
					<input *ngIf="selectMode === 'SINGLE'" [id]="i" type="radio"  [formControlName]="0" [value]="row.id">
        </td>
				<td *ngFor="let key of keys; index as i" [ngClass]="{ 'narrow': showNumber && i === 0 }">
					<label [for]="i">
            {{ row[key] }}
					</label>
				</td>
			</tr>
		</table>
	</form>
</ng-template>

<ng-template #pagination let-count="items?.length">
	<pager *ngIf="showPager" [itemCount]="count" [page]="currentPage" [size]="itemsPerPage"
		(update)="pageUpdated($event)"></pager>
</ng-template>