<ng-container *ngTemplateOutlet="grid; context:{ rows: rows | async, keys: columns | async }"></ng-container>
<ng-container *ngTemplateOutlet="pagination; context:{ items: data | async }"></ng-container>

<ng-template #grid let-keys="keys" let-rows="rows">
	<table>
		<tr *ngIf="showHeader">
			<th *ngFor="let key of keys">
				{{ key }}
			</th>
		</tr>
		<tr *ngFor="let row of rows">
			<td *ngFor="let key of keys">
				{{ row[key] }}
			</td>
		</tr>
	</table>
</ng-template>

<ng-template #pagination let-count="items?.length">
	<pager *ngIf="showPager" [itemCount]="count" [page]="p" [size]="s" (update)="pageUpdated($event)"></pager>
</ng-template>